<div class="container">

	<div class="row header-row well">

		<div class="col-md-9">
			<h1> 
      <a href="{{ "/" | prepend: site.baseurl}}"> {{ site.title }} </a>
      </h1>
			<p> {{ site.tagline }} {{ site.description }} </p>
			<p>	{{ site.email }} </p>

	{% include navigation.html %}

		</div><!--/col-->

		<div class="col-md-3">
			<a
      href="http://www.washingtonpost.com/news/the-intersect/wp/2014/08/06/if-a-monkey-takes-a-selfie-in-the-forest-who-owns-the-copyright-no-one-says-wikimedia/">
				<img id="portrait" class="img-polaroid img-responsive"
				src= 
				"{{ "/images/Mac.jpg" | prepend: site.baseurl}}" 
				title=""/>
			</a>
		</div><!--/col-->

	</div><!--/row-->

